@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Oswald');

html, body{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;    
}
.intro{
	height: 100%;
	width: 100%;
	margin: auto;
	background-image:url(../image/Full_screen.jpg);
	display: table;
	top: 0;
	background-size: cover;
}

.intro .inner{
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	max-width: none;
}

.content{
	max-width: 500px;
	margin: 0 auto;
	text-align: center;
}

.content h1{
	font-family: 'Raleway', sans-serif;
	color:#F9F3F4;
	text-shadow: 0px 0px 300px #000;
	font-size: 300%;
}

.btn{
	border-radius: 9px;
	font-family:'Oswald',sans-serif;
	color: violet;
	font-size: 135%;
	padding: 10px 20px;
	border: solid violet 3px;
	text-transform: uppercase;
	text-decoration: none;
}

.btn:hover{
	color: #fff;
	border: solid #fff 3px;
}

p{
	font-size: 160%;
	line-height: 210%;
	text-align:justify;
	margin: 30px;
	font-family: sans-serif;
}

ul li{
	text-size: 160;
}

@media screen and (max-width: 768px){
	.content h1{
		font-size: 250%;
	}
	.btn{
		font-size: 110%;
		padding: 7px 15px;
	}
	p{
		font-size: 100%;
		line-height: 160%;
	}
}
